.container {
    text-align: center;
}

hr {
    width: 100%;
    height: 1%;
    margin-left: auto;
    margin-right: auto;
    background-color: pink;
}

/* .col {
    padding: 30px 20px;
} */

.white {
    color: white;
}

.right {
    text-align: right;
}


h1, h2, h3, ul, p{
    text-align: left;
}

.second-title {
    font-size: 30px;
    font-weight: 400;
}

h1 {
    font-family: Glegoo;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 15px;
}

h1, h2, h3, p, li {
    font-style: normal;
    color: rgb(85, 85, 85);
    text-decoration: none;
}


img {
    height: 100%;
    border-radius: 50%;
    width: 50%;
}

.bot {
    margin-top: 100px;
}


/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

    .col {
        flex-basis: unset;
    }
    img {
        height: 100%;
        border-radius: 50%;
        width: 100%;
    }

}